<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化运维平台</title>
</head>
<body>
{% extends "hello/base.html" %}
{% block title %} ⽤户的列表
{% endblock %}


{% block content %}
<table border="1">
<thead>
    <tr>
        <th>用户名</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
</thead>
<tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.name_cn }}</td>
        <td>{{ user.age }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
</body>
</html>